body {
<<<<<<< HEAD
    color: blue;
=======
    color: red;
>>>>>>> cabecera
    text-align: left;
    font-family: "Arial";
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DD1;
    margin: 0 auto;
}

#cabecera {
    background: #33A;
    box-shadow: 0px 5px 30 px 0px rgba(red, green, blue, 75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera tagline {
    margin:0 0 0 1em ;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1 {
    font-size: 20px;
}